.footer_outer_container {
    background-color: #111;
    color: grey;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.footer_inner_container {
    width: 60%;
}

.footer_icons {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    color: #fff;
    margin-bottom: 20px;
}

.footer_links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

.footer_links ul {
    list-style: none;
    padding: 0;
}

.footer_links ul li {
    cursor: pointer;
    margin: 6px 0;
}

.service_code {
    display: inline-block;
    border: 1px solid #fff;
    padding: 5px 10px;
    margin: 20px 0;
    cursor: pointer;
    color: white;
}

.copyright {
    font-size: 12px;
    margin-bottom: 10px;
}
